.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.flipper-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}
/* 
.front {
  min-height: 142px;
} */

/* .back {
  background-color: rgba(30, 87, 153, 1);
} */

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  background-color: rgba(30, 87, 153, 1);
  backface-visibility: hidden;
  border-radius: 10px;
}
.flipper-container:hover .front,
.flipper-container:hover .back {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  backface-visibility: hidden;
  z-index: 2;
}

.flipper-container .back {
  transform: rotateY(180deg);

  transform-style: preserve-3d;
}

.flipper-container .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flipper-container:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flipper-container:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 300;
}

back.accelerators-color {
  /* red */
  background-color: #7f022f;
}

.accelerators-color:after {
  /* red */
  background-color: #7f022f;
  font-size: 1.2rem;
}

.back.corporate-color {
  background-color: #0055a1;
}

.corporate-color:after {
  background-color: #0055a1;
}

.back.startups-color {
  /* orange */
  background-color: #cc3d22;
}

.front.startups-color:after {
  background-color: #cc3d22;
}

.back.angels-color {
  /* green */
  background-color: #178271;
}

.angels-color:after {
  /* green */
  background-color: #178271;
}

.small-text {
  font-size: 1rem;
  font-family: Open Sans Condensed, sans-serif;
}
