.sorta-transparent {
  opacity: 0.8;
}

.home {
  position: relative;
  top: 160%;
  flex: 1 0 auto;
}

.jumbotron.video {
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 1) 0%,
    rgba(125, 185, 232, 0.01) 100%
  );
}

h1 {
  color: white;
}
h2 {
  color: yellow;
  font-size: 4rem;
}
