.corporate-color {
  /* blue */
  /* color: #0055a1; */
  background-color: #0055a1;
}

.startups-color {
  /* orange */
  background-color: #cc3d22;
}

.angels-color {
  /* green */
  background-color: #178271;
}

.accelerators-color {
  /* red */
  background-color: #7f022f;
}

.sorta-transparent {
  opacity: 0.8;
}

.home {
  position: relative;
  top: 100%;
  flex: 1 0 auto;
}

.jumbotron.video {
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 1) 0%,
    rgba(125, 185, 232, 0.01) 100%
  );
}

h1 {
  color: white;
}
h2 {
  color: yellow;
  font-size: 4rem;
}

.row.bottom-row {
  display: flex;
  position: relative;
  top: 400px;
}

.card-title-spacing {
  padding-bottom: 24px;
}
