/* pallette link
https://color.adobe.com/Copia-di-PTI-2-color-theme-11879057/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20Copia%20di%20PTI%202&mode=rgb&rgbvalues=0.5,0.008699770308701948,0.18400912716909085,0.8,0.23833608112331525,0.1348305094584978,0.09188667302561085,0.51,0.4446153846153843,0,0.33494009433963357,0.63,0.9,0.9,0.9&swatchOrder=0,1,2,3,4 */

.card-title--yellow {
  color: yellow;
  font-weight: bold;
}

.startups-color {
  /* orange */
  background-color: #cc3d22;
  width: '12rem;';
  padding-top: 12px;
}

.accelerators-color {
  /* red */
  background-color: #7f022f;
}

.sorta-transparent {
  opacity: 0.8;
}

.home {
  position: relative;
  top: 100%;
  flex: 1 0 auto;
}

.jumbotron.video {
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 1) 0%,
    rgba(125, 185, 232, 0.01) 100%
  );
}

h1 {
  color: white;
}
h2 {
  color: yellow;
  font-size: 4rem;
}

h5 {
  font-size: 1.5rem;
}

.card-body {
  padding-top: 0;
  padding-bottom: 0px;
  text-align: 'center';
}
.card {
  border-radius: 22px;
  opacity: 0.8;
}

.row.bottom-row {
  display: flex;
  position: relative;
  top: 400px;
}

.card-title-spacing {
  padding-bottom: 12px;
  font-weight: 'bold';
}

a.btn.btn-primary {
  color: #000;
  border-radius: 22px;
}

.yellow-button {
  background-color: yellow;
  border-color: yellow;
}

.top-row {
  padding: 0;
  margin: 0;
}

.mask-data {
  color: #fff;
  display: block;
}

.header {
  padding-top: 1rem;
}
