@import url('//fonts.googleapis.com/css?family=Open+Sans|Roboto');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}

footer {
  flex-shrink: 0;
}